@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

//Creating global variables
$background: #89cce7;
$calculator-color: #000;
$font-color: #edd02e;
$screen: #eee;
$keys: rgb(31, 31, 31);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Orbitron";
  background-color: $background;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-calculator {
  text-align: center;

  width: 240px;
  height: 370px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: $calculator-color;
  color: $font-color;
}

table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  button {
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: $keys;
    color: $font-color;
    font-weight: 600;
    margin: 2px;
    border: none;

    &:hover {
      background-color: #131313;
    }
  }
}

p {
  text-overflow: ellipsis;
}

#screen {
  background-color: $screen;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 3px;
  margin-top: 10px;
  width: 200px;
  white-space: nowrap;
  height: 30px;
  color: #000;
}
